{% extends "base.html" %}


{% block title %}Veiw orders{% endblock %}



{% block content %}
<br/><br/>

<h1>Dashboard<small> Welcome  Admin </small></h1>
<a class="btn btn-success" href="/post_meal">Post Meal</a>
<a class="btn btn-success" href="/dashboard">Dashboard</a>

<br/>
<br/>
<br/>

<table class="table table-striped">
<tr>
<th>Phone</th>
<th>First Name</th>
<th>Surname</th>
<th>Door No</th>
<th>Postcode</th>
<th>Adress 1</th>
<th>Adress 2</th>
<th>Email</th>
<th></th>



</tr>



<tr>
	<th>0725696042</th>
	<th>wagole</th>
	<th>musa</th>
	<th>plot-67</th>
	<th>67785</th>
	<th>Kalolen B</th>
	<th>mosque</th>
	<th>wagole@gmail.com</th>	

<th><a href="#" class="btn btn-danger">Delete</th>

</tr>
	

</table>





{% endblock %}